body {
  font-family: Courier New;
}

#inner {
  padding-left: 50px;
}

#score {
  font-family: inherit;
  font-size: 15px;
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#play {
  margin-left: 5%;
}
